<!DOCTYPE>

	<html>

		<head>
			<title>Crush Matching!</title>
            <script src="jquery-1.10.0.min.js"></script>
			<link type="text/css"  rel="static_page"  href="static_pages.css"/>
			<link type="text/css"  rel="about_button"       href="about_button.css"/>

	    </head>
	    <body>
        <a href = "about"> <h1>Let's find out, if your secret crush likes you back!</h1></a>
        <a href="about" class="about_button">About</a>


        <script>

		    $(document).ready(function () {
			$('.about_button').hide();{
			$('.about_button').slideToggle("slow");
		};
		 
		}); 


         
		
       </script>


    

			</body>
</html> 