<DOCTYPE!>
<html>

	<head>
		<title> Welcome to my site </title>
		<link type="text/css"  rel="static_page"  href="static_pages.css"/>
</head>
<body> 

	<p> This is my site, welcome to click around </p>
</body>

	
</html>